.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:30px; height:30px;
    border:3px solid black;
    text-align:center;
    font-family:sans-serif; font-size:13px
}

.grid td.clicked {
    background-color:rgb(133, 133, 131);
    font-weight:bold; color:red;
}

.grid td { 
    background: rgb(214, 210, 210); 
    cursor: pointer; 
    padding: 2px; 
}

.grid td.active {
    background: #000;
  }

table {
    margin:1em auto;
    border-collapse:collapse;
    width : 1300;
    height : 1300;
    border : 3px solid black;
    padding : 2px;
    margin : 1em auto; 
    border : collapse; 
    }

table td {
    cursor:pointer;
    width:30px; height:30px;
    border:3px solid black;
    text-align:center;
    font-family:sans-serif; font-size:13px;
    background: rgb(214, 210, 210); 
    cursor: pointer; padding: 2px; 
}

body {
    padding: 20px;
  }
 
button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: salmon;
    border: none;
  }
  button:hover {
    background: lightsalmon;
  }