 Goal of the game is to find all mines on the board.

 You reveal mines by clicking at board field.

 If you reveal a field with mine you lose the game.

 If you reveal field without a mine it will show exact number of mines surrounding that field.

 If you reveal field without number it means that there are no mines in its surroundings. In that case 
board will reveal all connected empty fields with its surroundings.

 You can flag field by right-clicking it.

  If you click on a revealed field and you already flagged all mines around that field, board will reveal rest of the hidden fields. Of course, if you misplaced flags you will reveal a field with a mine and lose the game.
